
@{
    ViewData["Title"] = "Ayka Parfum";
}

<html>
<body>
    @*<h2>@ViewData["Title"]</h2>*@
    <div class="container-fluid bg-secondary my-5">
        <div class="row justify-content-md-center py-1 px-xl-1">
            <div class="col-11 py-5">
                <div class="text-center mb-2 pb-2">
                    <h5>Ayka Parfum</h5>
                    <p>Mağaza Detayları Yazılacak!!!</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>