@model KullaniciModel


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Yeni Kullanıcı</title>
</head>
<body>
    <div class="container-fluid bg-secondary my-5">
        <div class="row justify-content-md-center py-5 px-xl-5">
            <div class="col-md-6 col-12 py-5">
                <div class="text-center mb-2 pb-2">

                    <h4>Kullanici</h4>
                    <hr />
                    <div class="row">
                        <div class="col-12">
                            <form asp-action="Create">
                                @Html.AntiForgeryToken()
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="row mb-3">
                                    <label asp-for="KullaniciAdi" class="col-2 col-form-label">Kullanıcı Adı</label>
                                    <div class="col-5">
                                        <input asp-for="KullaniciAdi" class="form-control" />
                                        <span asp-validation-for="KullaniciAdi" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label asp-for="Sifre" class="col-2 col-form-label">Şifre</label>
                                    <div class="col-5">
                                        <input asp-for="Sifre" class="form-control" />
                                        <span asp-validation-for="Sifre" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label asp-for="AktifMi" class="col-2 col-form-label"></label>
                                    <div class="col-5" style="padding-top: 7px;">
                                        <input class="form-check-input" asp-for="AktifMi" />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label asp-for="RolId" class="col-2 col-form-label"></label>
                                    <div class="col-5">
                                        <select asp-for="RolId" class="form-control" asp-items="ViewBag.RolId">
                                            <option value="">-- Select --</option>
                                        </select>
                                        <span asp-validation-for="RolId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="offset-2 col-5">
                                        <input type="submit" value="Kaydet" class="btn btn-primary" />
                                        &nbsp;&nbsp;
                                        <button type="reset" class="btn btn-outline-primary">Temizle</button>
                                        &nbsp;&nbsp;
                                        <a asp-action="Index"><i class="fa fa-arrow-left" ></i> Kullanıcı Listesi</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
